.hotels-container{
  padding-left:5%;
  padding-right: 5%;
}
/*
td {
  text-align: center;
  vertical-align: middle;
  padding:2%;
  font-size: 0.8rem;
}

tr:hover {
  background-color: red;
}

table {
  border-spacing: 5%;
}
*/
