.menu-link {
  color: rgb(80, 80, 80);
}

.menu-link:hover {
  color: black;
  transition-duration: 0.7;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
}

#main-title {
  height: 30%;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
