/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;

  color: #fff;
} */

.banner {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0;
}

.banner img {
  opacity: 0.5;
}

.banner h1 {
  margin: 0;
  font-size: 32px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

/* Hamburger */
.hamburger1 {
  height: 40px;
  margin: 5px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 2px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -2px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 20px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a {
  color: rgb(80, 80, 80);
  text-decoration : none;
  font-family: 'Cormorant Garamond', serif;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Cormorant Garamond', serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-link {
  color: rgb(80, 80, 80);
}

.menu-link:hover {
  color: black;
  transition-duration: 0.7;
}
#hotels {
  text-align: center;
}


h1 {
  font-family: 'Cormorant Garamond', serif;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#full-menu {
  display: none;
}

#mobile-menu {
  margin-bottom: 5%;
}

#mobile-list-menu {
  display: none;
  list-style-type: none;
}


#hamburger-icon a {
  display: flex;
  justify-content: space-around;
  color: rgb(80, 80, 80);
  text-decoration : none;
}

#photo-tg {
  margin-bottom: 5%;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

body {
   margin: 0;
   padding: 30px 0;
   font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align : center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  color: rgb(80,80,80);
}


#rsvp {
  margin-bottom: 5%;
}

=======

.timeline-block {
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}



.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}

.divider {                /* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%;             /* divider width */
    margin: 40px auto;          /* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 17px;              /* adjust vertical align */
    -moz-background-size: 100% 2px;   /* line width */
    background-size: 100% 2px;      /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {       /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(50, 50, 50)));
    background-image: -webkit-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: -moz-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: -o-linear-gradient(180deg, transparent, rgb(80, 80, 80));
    background-image: linear-gradient(90deg, transparent, rgb(80, 80, 80));
}
.divider span:nth-child(2) {
    font-weight: lighter; color: rgb(80, 80, 80); padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {        /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(80, 80, 80)), to(transparent));
    background-image: -webkit-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: -moz-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: -o-linear-gradient(180deg, rgb(80, 80, 80), transparent);
    background-image: linear-gradient(90deg, rgb(80, 80, 80), transparent);
}

.timeline-container {
  z-index: 1;
}


@media screen and (min-width: 100px) {
   .container:before {
      left: 8px;
      width: 2px;
   }

   .timeline-content {
      width: 95%;
      padding: 0 15px;
      color: #666
   }

   .timeline-content h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 500
   }

   .timeline-content span {
      font-size: 15px;
      color: #a4a4a4;
   }

   .timeline-content p {
      font-size: 14px;
      line-height: 1.5em;
      word-spacing: 1px;
      color: #888;
   }

   .timeline-container:before {
      content: '';
      position: absolute;
      top: 0;
      left: 3%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background: #CCD1D9;
      z-index: 0;
   }
   .marker {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #F5F7FA;
      background: #1A420A;
      margin-top: 10px;
      z-index: 9999;
   }
   .timeline-container {
      width: 80%;
      padding: 50px 0;
      margin: 50px auto;
      position: relative;
      overflow: hidden;
   }

   #photo-tg {
    margin-bottom: 24px;
   }

   .timeline-container {
     z-index: 0;
   }

}

@media only screen and (min-width : 320px) {
/* Styles */
  h1 {
    font-size: 2.4rem;
    }

  #photo-tg {
    margin-bottom: 24px;
  }

  marker {
    z-index: 9999;
  }

  .timeline-container {
    z-index: 0;
  }

}


@media only screen and (min-width : 414px) {
/* Styles */

  .timeline-container:before {
     content: '';
     position: absolute;
     top: 0;
     left: 2.6%;
     margin-left: -1px;
     width: 2px;
     height: 100%;
     background: #CCD1D9;
     z-index: 0;
  }

  #photo-tg {
    margin-bottom: 24px;
  }


}

@media only screen and (min-width : 768px) {
/* Styles */

  #main-title {
    height: 30%;
  }

  #full-menu {
    display: flex;
  }

  #mobile-menu {
    display: none;
  }

  #photo-tg {
    margin-bottom: 12px;
  }


  .timeline-block-right {
    float: right;
  }

  .timeline-block-left {
    float: left;
    direction: rtl
  }

  .timeline-container:before {
     content: '';
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -1px;
     width: 2px;
     height: 100%;
     background: #CCD1D9;
     z-index: 0;
  }

  .marker {
     width: 16px;
     height: 16px;
     border-radius: 50%;
     border: 2px solid #F5F7FA;
     background: #1A420A;
     margin-top: 10px;
     z-index: 9999;
  }

  .timeline-container {
     width: 80%;
     padding: 50px 0;
     margin: 50px auto;
     position: relative;
     overflow: hidden;
     z-index: 0;
  }

  .timeline-block {
     width: -webkit-calc(50% + 8px);
     width: -moz-calc(50% + 8px);
     width: calc(50% + 8px);
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -moz-box-pack: justify;
     justify-content: space-between;
     clear: both;
  }
}

#ltr-element {
  direction: ltr;
}

@media only screen and (min-width : 992px) {
/* Styles */

}


@media only screen and (max-width : 1200px) {
/* Styles */
}
